
Code/4. Label_Code/Griffis/
Code/4. Label_Code/Glasser/
Code/4. Label_Code/.DS_Store
Code/4. Label_Code/Glasser/Label_creation_pipeline.m
Code/4. Label_Code/Glasser/makelabels.m
Code/4. Label_Code/Glasser/README.txt
Code/4. Label_Code/4.3 Mapping/Reference_scripts
phdDataConnectivityProjectWithAli
testing/subj1_avg.nii
